<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ice.wenjuandiaocha">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".Application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/wenjuan2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainBackActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PersonInfoBackActivity" />
        <activity android:name=".activity.SimpleInfoBackActivity" />
        <activity android:name=".activity.WaTianBackActivity" />
        <activity android:name=".activity.LoginBackActivity" />
        <activity android:name=".activity.UploadBackActivity" />
        <activity
            android:name=".activity.LoginActivity111"
            android:label="@string/title_activity_login111" />
        <activity android:name=".base.BaseBackActivity" />
        <activity android:name=".base.BaseActivity"></activity>
    </application>

</manifest>
