<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ice.wenjuandiaocha">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/wenjuan2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainBackActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PersonInfoBackActivity" />
        <activity android:name=".activity.SimpleInfoBackActivity" />
        <activity android:name=".activity.WaTianBackActivity" />
        <activity android:name=".activity.LoginBackActivity" />
        <activity android:name=".activity.UploadBackActivity" />
        <activity android:name=".base.BaseBackActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".activity.ZungActivity" />
        <activity android:name=".activity.ZungSDSActivity" />
        <activity android:name=".activity.GDSActivity" />
        <activity android:name=".activity.GDSDDActivity" />
        <activity android:name=".activity.ADLActivity" />
        <activity android:name=".activity.APGARActivity" />
        <activity android:name=".activity.FAQActivity" />
        <activity android:name=".activity.FIMActivity" />
        <activity android:name=".activity.MNAActivity" />
        <activity android:name=".activity.CAMCRActivity" />
        <activity android:name=".activity.TunYanActivity" />
        <activity android:name=".activity.ICIQSFActivity" />
        <activity android:name=".activity.FRSActivity" />
        <activity android:name=".activity.FRAActivity" />
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.PSQIActivity" />
        <activity android:name=".activity.MiniCogActivity" />
        <activity android:name=".activity.MMSEActivity" />
        <activity android:name=".activity.TinettiActivity" />
        <activity android:name=".activity.HISActivity"></activity>
    </application>

</manifest>
